<div class="sales-container">
    <div class="sales-info">
        <div class="item">
            Product
            <br>
            {{sale.storage.product.name }}
        </div>
        <div class="item">
            Description
            <br>
            {{sale.storage.description}}
        </div>
        <div class="item">
            Client
            <br>
            {{sale.user.name}}
        </div>
        <div class="item">
            Seller
            <br>
            {{sale.storage.user.name}}
        </div>
        <div class="item">
            Date
            <br>
            {{ sale.created_at | date: 'MM/dd/yyyy' }}
        </div>
        <div class="item">
            Hour
            <br>
            {{sale.created_at | date: 'HH:mm'}}
        </div>
    </div>
</div>