<div class="home-container">
    <h1>E-commerce</h1>
    <p>
        Welcome to the best e-commerce
    </p>

    <h2>For you</h2>

    <div>
        <h3>Categories in e-commerce</h3>
        <div class="tag-list">
            <ng-container *ngFor="let tag of tags">
                <p-chip>{{tag.name}}</p-chip>
            </ng-container>
        </div>
    </div>

    <h3>Create a new tag</h3>
    <div class="item-forms">
        <app-tag></app-tag>
    </div>

    <h3>Create a new Product</h3>
    <div class="item-forms">
        <app-product [tags]="tags"></app-product>
    </div>

    <h2>Created by me</h2>
    <div class="product-list">
        <ng-container *ngFor="let storage of user_storages">
            <app-card-product [product]="storage"></app-card-product>
        </ng-container>
    </div>

    <h2>To buy</h2>
    <div class="product-list">
        <ng-container *ngFor="let storage of to_buy">
            <app-card-product-buy [product]="storage"></app-card-product-buy>
        </ng-container>
    </div>

    <h2>Dashboard</h2>
    <div class="dashboard">
        <div class="dashboard-row">

            <div class="dashboard-column">
                <h3>Last four sales</h3>
                <div class="sales-history">
                    <ng-container *ngFor="let sale of last_sales">
                        <app-sales-history [sale]="sale"></app-sales-history>
                    </ng-container>
                </div>
            </div>

            <div class="dashboard-column doughnut">
                <h3>Sales by Tag</h3>
                <div class="card flex justify-content-center">
                    <app-sales-by-tag [labels]="doughnut_labels" [values]="doughnut_amounts"></app-sales-by-tag>
                </div>
            </div>

        </div>

        <div class="dashboard-row">
            <div class="dashboard-column">
                <h3>Sales by Product</h3>
                <div class="card">
                    <app-sales-by-product [labels]="chart_labels" [values]="chart_amounts"></app-sales-by-product>
                </div>
            </div>
        </div>
    </div>





</div>