<div class="login-container">
    <h1>Wall Smart Iatecam</h1>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="p-field">
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" pInputText [(ngModel)]="username" required />
        </div>
        <div class="p-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" pInputText [(ngModel)]="password" required />
        </div>
        <button type="submit" pButton label="Login"></button>
    </form>
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>