<div class="login-container">

    <h1> WallSmart Iatecam</h1>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <h1> Login</h1>
        <div class="p-field">
            
            <input type="text" id="username" name="username:" placeholder="username:" pInputText [(ngModel)]="username" required />
        </div>
        <div class="p-field">
            
            <input type="password" id="password"  placeholder="password" name="password"   [(ngModel)]="password" required />
        </div>
        <button type="submit" pButton label="Login"></button>
    </form>
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>