<p-card>
    <ng-template pTemplate="title">
        {{product.product.name}}
    </ng-template>
    <ng-template pTemplate="content">
        <div class="product-info">
            <p><b>Price</b>: ${{ product.price }}</p>
            <p><b>Category</b>: {{ product.tag.name }}</p>
            <p><b>Available</b>: {{ product.amount }}</p>
            <p><b>Posted by</b>: {{ product.user.name }}</p>

            <div class="p-inputgroup">
                <p-inputNumber [(ngModel)]="quantity" inputId="integeronly" [showButtons]="true"
                    inputId="minmax-buttons" [min]="0" [max]="product.amount">
                </p-inputNumber>
            </div>

            <div class="button-input">
                <button pButton type="button" label="Buy" (click)="buyProduct()"
                    [disabled]="quantity <= 0 || quantity > product.amount">
                </button>
            </div>
        </div>
    </ng-template>
</p-card>