<div class="tag-container">
    <form #tagForm="ngForm" (ngSubmit)="createTag(tagForm)">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-tags"></i>
            </span>
            <input type="text" id="tagName" name="tagName" [(ngModel)]="tagName" required pInputText
                placeholder="Tag Name" ngModel #tagNameInput="ngModel" />
        </div>
        <button type="submit" pButton label="Create" [disabled]="tagForm.invalid"></button>
    </form>
</div>