<div class="center-container">
    <div class="signup-container">
        <form (ngSubmit)="signup()" #signupForm="ngForm" class="form-container">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" pInputText [(ngModel)]="name" required />
            </div>
            <div class="p-field">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" pInputText [(ngModel)]="username" required />
            </div>
            <div class="p-field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" pInputText [(ngModel)]="password" required />
            </div>
            <button type="submit" pButton label="Sign Up"></button>
        </form>
    </div>
</div>